<!DOCTYPE html>
<html>
 	<head>
 	</head>
	<body>
		<div id="app">
			<h1>SOUND HOCKEY!</h1>
			<audio-block></audio-block>
	  		<!-- <select v-model='synthSelect'>
	  			<option>MembraneSynth</option>
	  			<option>FMSynth</option>
	  		</select>
			
			<span v-for="param in synthParams">
				<span>{{param}}</span>
				<input type="checkbox" v-bind:id="param" v-bind:value="param" v-model="checkedParams" />
			</span>
			<button v-on:click='addNewBall'>Confirm</button>
			<br /> -->
			<!-- <button v-on:click='triggerSound'>Trigger</button> -->
	    </div>
		<script src="bundle.js"></script>
  </body>
</html>